.input-date, .input-text, textarea{
  transition: all 0.2s linear;
}

.input-text {
  outline: none;
  height: 40px;
  background: transparent;
  width: 360px;
  padding: 0px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid grey;
}

.input-text:focus, .input-date:focus {
  border-bottom: 2px solid #32a852;
}

.input-date {
  outline: none;
  height: 40px;
  background: transparent;
  width: 160px;
  padding: 0px;
  font-size: 16px;
  margin-right: 200px;
  border: none;
  border-bottom: 1px solid grey;
}

.input-read{
  border: none;
}

.input-read:focus{
  border: none;
}

label{
  font-weight: 500;
}